/* fonts */

/* @font-face {
  font-family: "Vollkorn";
  src: url("./vollkorn/EOT/Vollkorn-Regular.eot");
  src: url("./vollkorn/WOFF/Vollkorn-Regular.woff") format("woff"), url("./vollkorn/TTF/Vollkorn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss11', 'onum';
}

@font-face {
  font-family: "Vollkorn";
  src: url("./vollkorn/EOT/Vollkorn-ExtraBold.eot");
  src: url("./vollkorn/WOFF/Vollkorn-ExtraBold.woff") format("woff"), url("./vollkorn/TTF/Vollkorn-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'ss11', 'onum';
}

@font-face {
  font-family: "Vollkorn";
  src: url("./vollkorn/EOT/Vollkorn-Italic.eot");
  src: url("./vollkorn/WOFF/Vollkorn-Italic.woff") format("woff"), url("./vollkorn/TTF/Vollkorn-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  font-feature-settings: 'ss11', 'onum';
}

@font-face {
  font-family: "Vollkorn";
  src: url("./vollkorn/EOT/Vollkorn-ExtraBoldItalic.eot");
  src: url("./vollkorn/WOFF/Vollkorn-ExtraBoldItalic.woff") format("woff"), url("./vollkorn/TTF/Vollkorn-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-feature-settings: 'ss11', 'onum';
}

@font-face {
  font-family: "Vollkorn (my headings)";
  src: url("./vollkorn/EOT/Vollkorn-MediumItalic.eot");
  src: url("./vollkorn/WOFF/Vollkorn-MediumItalic.woff") format("woff"), url("./vollkorn/TTF/Vollkorn-MediumItalic.ttf") format("truetype");
  font-weight: medium;
  font-style: italic;
  font-display: swap;
  font-feature-settings: 'ss11', 'onum';
} */



/* style */

body {
	color: #333;
	font-size: 18px;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
	line-height: 1.5;
	margin: 40px auto;
	max-width: 750px;
	padding: 0 10px;
}

h1,
h2,
h3 {
  font-family: 'Source Sans Pro', 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  /* font-weight: normal; */
  /* font-style: italic; */
  /* letter-spacing: 2px; */
  /* font-variant-caps: small-caps; */
  /* text-transform: lowercase; */
	line-height: 1.2;
}

a {
  color: #2b5bb3;
  text-decoration: none;
}

a:hover {
  text-underline-position: above;
  text-underline-offset: 2px;
  text-decoration: underline;

}

code {
  font-family: "Source Code Pro", "Droid Sans Mono", Consolas, 'Courier New', Courier, monospace;
}